



.pd10{
  padding:10px;
}
.pd20{
  padding:20px;
}
.pr10{
  padding-right: 10px;
}
.pr15{
  padding-right: 15px;
}
.pl10{
  padding-left: 10px;
}
.pl15{
  padding-left: 15px;
}

.mr15{
  margin:15px;
}
.mrall10{
  margin:10px;
}
.mt5{
  margin-top: 5px;
}
.mt10{
  margin-top: 10px;
}
.mt20{
  margin-top: 20px;
}
.mr10{
  margin-right: 10px;
}
.mr5{
  margin-right: 5px;
}
.mr15{
  margin-right: 15px;
}
.ml10{
  margin-left: 10px;
}
.ml15{
  margin-left: 15px;
}
.mb10{
  margin-bottom: 10px;
}

.flex{
  display: flex;
}

.jcsb{
  justify-content: space-between;
}


.aic{
  align-items: center;
}

.link1{
  color:#f50
}
.link2{
  color:#0f0;
}

.c-main{
  color:#f50;
}

.c-green{
  color:#0f0;
}
.adm-mask-content{
  height: 0!important;
}